*{
margin:0;
padding:0
}

body{
  background-color: rgb(208, 202, 202);
}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}
.resultCard:hover{
  opacity: 0.5;
  border: 5 solid white;
}

.store-footer{
  height: 2.5vw;
  padding-right: 1vw;
}